html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}
#javascript {
	background: yellow;
	padding: 10px 10%;
	text-align: center;
}
.nav {
	text-transform: uppercase;
	padding: 20 10%;
}
.nav > ul {
	float: right;
	padding: 10px 0;
	vertical-align: middle;
}
.nav > ul > li {
	float: left;
	list-style: none;
	margin-left: 6px;
}
.nav > ul > li > a {
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	transition: color 0.3s;
}
.nav > ul > li:not(.button) > a:hover {
	color: rgba(255, 255, 255, 0.7);
}
.nav > ul > li.button > a {
	background: #9AABCB;
	border-radius: 20px;
	margin-left: 10px;
	transition: background 0.3s;
}
.nav > ul > li.button:hover > a {
	background: rgba(154, 171, 203, 0.7);
}
#nav > .nav {
	background: rgb(240, 240, 240);
	height: 60px;
}
#nav > .nav img {
	max-height: 60px;
	vertical-align: middle;
	width: auto;
}
#nav > .nav > ul {
	padding: 2.5px 0;
}
#nav > .nav > ul > li > a {
	color: rgb(100, 100, 100);
	/*color: rgb(154, 171, 203);*/
}
#nav > .nav > ul > li.button > a {
	color: white;
}
#footer > div {
	background: rgb(240, 240, 240);
	padding: 20px 10% 30px 10%;
}
#footer, #footer a {
	color: rgb(100, 100, 100);
	font-weight: 100;
	text-decoration: none;
}
#footer td {
	padding-right: 70px;
	vertical-align: top;
}
#footer tr.first-row td {
	font-size: 20px;
	padding-bottom: 15px;
}
#footer tr.second-row td {
	font-size: 14px;
	line-height: 16px;
}
#footer tr.second-row td p {
	margin: 0 0 5px 0;
}
#main {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/main.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
}
#main .title {
	color: white;
	left: 50%;
	margin-right: -50%;
	padding: 0 50px;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}
#main .title h1, #main .title h2 {
	margin: 0;
	text-transform: uppercase;
}
#main .title h1 {
	font-size: 80px;
	font-weight: 100;
	line-height: 80px;
	padding-bottom: 20px;
}
#main .title h2 {
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
}
#main i.material-icons.arrow-down {
	color: white;
	font-size: 40px;
	left: 50%;
	margin-right: -50%;
	padding: 0 50px;
	position: absolute;
	text-align: center;
	bottom: 30px;
	transform: translate(-50%, -50%);
}
#popup {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
}
#popup > div {
	position: fixed;
	height: 200px;
	width: 800px;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 1;
	background: white;
	top: 50%;
	margin-top: -100px;
}
.background {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 50%;
	width: 100%;
}
.container {
	background: white;
	padding: 20px 10% 40px 10%;
}
.container h1 {
	font-size: 40px;
	font-weight: 100;
	/*margin: 0;*/
	padding: 0;
}
.container a {
	color: rgb(154, 171, 203);
	text-decoration: none;
}
.container a:hover {
	text-decoration: underline;
}
#events h2 {
	font-size: 24px;
	font-weight: 400;
	margin: 0;
}
#events h3 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 200;
	margin: 0 0 20px 0;
}
#officers table {
	width: 100%;
}
#officers table td {
	width: 50%;
	vertical-align: top;
}
#officers table img {
	width: 30%;
	padding: 5px 20px 10px 0;
}
#officers table h2 {
	font-size: 32px;
	font-weight: 400;
	margin: 0;
}
#officers table h3 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 200;
	margin: 0 0 20px 0;
}
#officers table p {
	padding-right: 20px;
	margin-top: 0;
	font-weight: 100;
}
#officers img {
	float: left;
}